body
{
    background-color: aqua;
}
h1
{
    text-align: center;
    font-size: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(218, 8, 218);
}

.cell.disabled {
    cursor: default;
    background-color: rgb(218, 20, 208);
}

.status {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#reset-button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #3E8E41;
}

